body {
    background: #333;
    color: #fff;
    font-family: Calibri, Arial, sans-serif;
    font-size: 150%;
    margin: 0; /* keep this */
}

header {
    width: 100%;
    padding-left: 20px;
    overflow: auto;
    box-sizing: border-box;
}

h1 {
    margin: 0px;
    float: left;
    padding: 20px;
}

nav {
    float: right;
    margin-right: 20px;
    box-sizing: border-box;
}

li {
    margin: 10px;
    padding-right: 50px;
    float: left;
    text-align: center;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

div {
    float: left;
    text-align: left;
    margin-left: 30px;
}

section {
    padding-bottom: 50px;
}


#cougar {
    float: left;
    background: #FFBD82;
    color: #000;
}

#lion {
    float: left;
    background: #B26219;
    color: #000;

}

#tiger {
    float: left;
    background: #82E8FF;
    color: #000;
}

article {
    width: 600px;
    width: 50%;
    padding: 20px 50px;
    float: right;
    margin: auto;
    box-sizing: border-box;
}

footer {
    margin: auto;
    padding: 20px 400px;
    text-align: center;
    box-sizing: border-box;
    clear: both;
}

/* ----- suggested colors -----
   B26219 cinnamon
   FFD5AE pale peach
   FFBD82 peach
   379CB2 medium blue
   82E8FF light blue

   ----- neutral colors -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/


/* --- links and nav --- */

a {
    color: #379CB2;
    text-decoration: none;
}
a:hover {
    color: #82E8FF;
    text-decoration: underline;
}
